## Instructions
- Utilisez **SQLAlchemy** pour interagir avec une base de données **PostgreSQL**.
- Assurez-vous que les tables respectent les contraintes de clés étrangères.
- Testez chaque requête avec les données fournies pour vérifier les résultats.


## Installation des prérequis
Exécutez la commande suivante pour installer les bibliothèques nécessaires :
```bash
pip install sqlalchemy psycopg2-binary
```

## Configuration de la base de données
Remplacez la chaîne de connexion dans le code par vos informations PostgreSQL, par exemple :
```python
engine = create_engine('postgresql://user:password@localhost:5432/restaurant_db')
```

# Exercice : Gestion d’un Restaurant avec SQLAlchemy et PostgreSQL

## Contexte
Vous êtes chargé de développer une application de gestion pour un restaurant. L'objectif est de modéliser et interagir avec une base de données pour gérer les plats, les catégories, les commandes et les clients à l'aide de **SQLAlchemy** et **PostgreSQL**. Les tâches incluent la création des tables, l'insertion de données, et l'exécution de requêtes.

Le restaurant souhaite suivre :
- Les **plats** disponibles (nom, prix, description, catégorie).
- Les **commandes** passées par les clients (date, contenu, total).
- Les **clients** (nom, email).
- Les **catégories** de plats (ex. : Entrée, Plat principal, Dessert, Boisson).

Créez une base de données nommée `restaurant_db` dans PostgreSQL avant d'exécuter le code.


## Structure des Tables
Voici la structure enrichie des tables à créer dans PostgreSQL :

- **categories** :
  - `id` (PK, entier)
  - `nom` (varchar, ex. : Entrée, Dessert)

- **plats** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `prix` (décimal)
  - `description` (varchar)
  - `categorie_id` (FK vers categories)

- **clients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `email` (varchar)
  - `telephone` (varchar, nullable)

- **commandes** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `date_commande` (timestamp)
  - `total` (décimal)

- **commande_plats** (table de liaison) :
  - `commande_id` (FK vers commandes)
  - `plat_id` (FK vers plats)
  - `quantite` (entier)

- **ingredients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `cout_unitaire` (décimal)
  - `stock` (décimal, en kg ou unités)
  - `fournisseur_id` (FK vers fournisseurs)

- **fournisseurs** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `contact` (varchar)

- **plat_ingredients** (table de liaison) :
  - `plat_id` (FK vers plats)
  - `ingredient_id` (FK vers ingredients)
  - `quantite_necessaire` (décimal, en kg ou unités par plat)

- **avis** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `plat_id` (FK vers plats)
  - `note` (entier, 1 à 5)
  - `commentaire` (text, nullable)
  - `date_avis` (timestamp)

## Données à insérer
Insérez les données suivantes pour tester les requêtes. Les données sont diversifiées pour inclure des variations réalistes.

### categories

| id | nom            |
|----|----------------|
| 1  | Entrée         |
| 2  | Plat principal |
| 3  | Dessert        |
| 4  | Boisson        |
| 5  | Végétarien     |

### plats
| id | nom                 | prix  | description                     | categorie_id |
|----|---------------------|-------|---------------------------------|--------------|
| 1  | Salade César        | 45.00 | Salade avec poulet grillé       | 1            |
| 2  | Soupe de légumes    | 30.00 | Soupe chaude de saison          | 1            |
| 3  | Steak frites        | 90.00 | Viande grillée et frites        | 2            |
| 4  | Pizza Margherita    | 70.00 | Pizza tomate & mozzarella       | 2            |
| 5  | Tiramisu            | 35.00 | Dessert italien                 | 3            |
| 6  | Glace 2 boules      | 25.00 | Glace au choix                  | 3            |
| 7  | Coca-Cola           | 15.00 | Boisson gazeuse                 | 4            |
| 8  | Eau minérale        | 10.00 | Eau plate ou gazeuse            | 4            |
| 9  | Curry de légumes    | 65.00 | Plat végétarien épicé           | 5            |
| 10 | Falafel wrap        | 50.00 | Wrap avec falafels et légumes   | 5            |

### clients
| id | nom                | email                  | telephone      |
|----|--------------------|------------------------|----------------|
| 1  | Amine Lahmidi      | amine@example.com      | +212600123456  |
| 2  | Sara Benali        | sara.b@example.com     | +212600654321  |
| 3  | Youssef El Khalfi  | youssef.k@example.com  | NULL           |
| 4  | Fatima Zahra       | fatima.z@example.com   | +212600987654  |
| 5  | Omar Alaoui        | omar.a@example.com     | +212600112233  |

### commandes
| id | client_id | date_commande         | total  |
|----|-----------|-----------------------|--------|
| 1  | 1         | 2025-07-07 12:30:00   | 120.00 |
| 2  | 2         | 2025-07-07 13:00:00   | 85.00  |
| 3  | 1         | 2025-07-08 19:45:00   | 150.00 |
| 4  | 3         | 2025-08-15 18:30:00   | 200.00 |
| 5  | 4         | 2025-09-01 20:00:00   | 95.00  |
| 6  | 5         | 2025-09-10 12:15:00   | 75.00  |

### commande_plats
| commande_id | plat_id | quantite |
|-------------|---------|----------|
| 1           | 1       | 1        |
| 1           | 3       | 1        |
| 1           | 7       | 2        |
| 2           | 2       | 1        |
| 2           | 4       | 1        |
| 2           | 8       | 1        |
| 3           | 3       | 1        |
| 3           | 5       | 1        |
| 3           | 7       | 1        |
| 4           | 4       | 2        |
| 4           | 9       | 1        |
| 5           | 10      | 1        |
| 5           | 8       | 2        |
| 6           | 7       | 3        |
| 6           | 6       | 1        |

### fournisseurs
| id | nom                | contact                |
|----|--------------------|------------------------|
| 1  | AgriFresh          | contact@agrifresh.com  |
| 2  | MeatSupplier       | info@meatsupplier.com  |
| 3  | BevCo              | sales@bevco.com        |
| 4  | DairyFarm          | dairy@farm.com         |

### ingredients
| id | nom                | cout_unitaire | stock | fournisseur_id |
|----|--------------------|---------------|-------|---------------|
| 1  | Poulet             | 15.00         | 50    | 2             |
| 2  | Laitue             | 5.00          | 20    | 1             |
| 3  | Tomate             | 3.00          | 30    | 1             |
| 4  | Mozzarella         | 10.00         | 15    | 4             |
| 5  | Pomme de terre     | 2.00          | 100   | 1             |
| 6  | Café               | 20.00         | 5.    | 3             |
| 7  | Sucre              | 1.50          | 25    | 3             |
| 8  | Pois chiches       | 4.00          | 40    | 1             |

### plat_ingredients
| plat_id | ingredient_id | quantite_necessaire |
|---------|---------------|---------------------|
| 1       | 1             | 0.2                 |
| 1       | 2             | 0.1                 |
| 2       | 2             | 0.05                |
| 2       | 5             | 0.1                 |
| 3       | 1             | 0.3                 |
| 3       | 5             | 0.2                 |
| 4       | 3             | 0.1                 |
| 4       | 4             | 0.15                |
| 5       | 6             | 0.05                |
| 5       | 7             | 0.02                |
| 9       | 8             | 0.1                 |
| 10      | 8             | 0.15                |

### avis
| id | client_id | plat_id | note | commentaire                       | date_avis           |
|----|-----------|---------|------|----------------------------------|---------------------|
| 1  | 1         | 1       | 4    | Très frais, poulet bien cuit     | 2025-07-07 13:00:00 |
| 2  | 2         | 4       | 5    | Meilleure pizza du coin !        | 2025-07-07 14:00:00 |
| 3  | 3         | 9       | 3    | Un peu trop épicé                | 2025-08-15 19:00:00 |
| 4  | 4         | 10      | 4    | Bon, mais manque de sauce        | 2025-09-01 21:00:00 |
| 5  | 5         | 6       | 5    | Glace délicieuse                 | 2025-09-10 13:00:00 |

## Requêtes à réaliser
Créez un programme Python utilisant **SQLAlchemy** pour effectuer les tâches suivantes :

1. Créer les tables dans PostgreSQL en utilisant SQLAlchemy.
2. Insérer les données fournies ci-dessus.
3. Lister tous les plats triés par prix décroissant.
4. Lister tous les plats dont le prix est compris entre 30 et 80.
5. Afficher les clients dont le nom commence par "S" ou "F".
6. Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).
7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.
8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.
9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.
10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.
11. Afficher le nombre de commandes par client, trié par ordre décroissant.
12. Afficher les clients ayant passé plus de deux commandes.
13. Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).
14. Lister les commandes du troisième trimestre 2025 (juillet à septembre).
15. Afficher la commande la plus récente avec le nom du client et les plats commandés.
16. Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.
17. Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.
18. Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.
19. Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.
20. Afficher pour chaque client :
    - Son nom
    - Le nombre total de plats commandés
    - Le montant total dépensé
    - La note moyenne de leurs avis
21. Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.
22. Afficher les clients et leurs dernières commandes, incluant les plats commandés.
23. Créer une vue virtuelle (SELECT) qui affiche :
    - Le nom du client
    - Les plats commandés
    - Les quantités
    - La date de la commande
    - La note moyenne du plat (via avis)
24. Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.

In [1]:
pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\boume\pycharmprojects\pythonproject\.venv\lib\site-packages (2.0.43)
Requirement already satisfied: psycopg2-binary in c:\users\boume\pycharmprojects\pythonproject\.venv\lib\site-packages (2.9.10)
Requirement already satisfied: greenlet>=1 in c:\users\boume\pycharmprojects\pythonproject\.venv\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\boume\pycharmprojects\pythonproject\.venv\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
from sqlalchemy import Table, MetaData, Integer,Column ,String, ForeignKey,create_engine , Nullable ,TIMESTAMP,DECIMAL,TEXT ,CheckConstraint
engine = create_engine('postgresql://postgres:12345@localhost:9999/restaurant_db')
metadata = MetaData()
categories_table = Table(
    'categories',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('nom',String)
)
plats_table = Table(
    'plats',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('category_id',ForeignKey('categories.id')),
    Column('nom',String),
    Column('price',Integer),
    Column('description',String),
)
clients_table = Table(
    'clients',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('nom',String),
    Column('email',String),
    Column('telephone',String ),
)
commands_table = Table(
    'commands',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('client_id',ForeignKey('clients.id')),
    Column('date_command',TIMESTAMP),
    Column('total',DECIMAL),
)
command_plats_table = Table(
    'command_plats',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('command_id',ForeignKey('commands.id')),
    Column('plat_id',ForeignKey('plats.id')),
    Column('quantity',Integer ,nullable = False ),
)
ingredients_table = Table(
    'ingredients',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('nom',String),
    Column('cout_unitaire',DECIMAL),
    Column('stock',DECIMAL),
    Column('fournisseur_id',ForeignKey('fournisseurs.id')),
)
fournisseurs_table = Table(
    'fournisseurs',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('nom',String),
    Column('contact',String),
)
plat_ingredients_table = Table(
    'plat_ingredients',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('plat_id',ForeignKey('plats.id')),
    Column('ingredient_id',ForeignKey('ingredients.id')),
    Column('quantite_necessaire',DECIMAL),
)
avis_table = Table(
    'avis',
    metadata,
    Column('id',Integer,autoincrement=True,primary_key=True),
    Column('client_id',ForeignKey('clients.id')),
    Column('plat_id',ForeignKey('plats.id')),
    Column('note',Integer),
    CheckConstraint('note >= 1', name='min_note_check'),
    CheckConstraint('note <= 5', name='max_note_check'),
    Column('commentaire',TEXT ),
    Column('date_avis',TIMESTAMP)
)


metadata.create_all(engine)

In [30]:

row_to_insert = [
    {'nom': 'Entrée'},
    {'nom': 'Plat principal'},
    { 'nom': 'Dessert'},
    { 'nom': 'Boisson'},
    { 'nom': 'Végétarien'}
]
with engine.begin() as connection:
    insert_query = categories_table.insert().values(row_to_insert)
    connection.execute(insert_query)
    query = categories_table.select()
    result = connection.execute(query)

In [31]:

row_to_insert = [
        {'nom': 'Salade César','price':45.00,'description':'Salade avec poulet grillé','category_id':1},
        {'nom': 'Soupe de légumes','price':30.00,'description':'Soupe chaude de saison','category_id':1},
        {'nom': 'Steak frites','price':90.00,'description':'Viande grillée et frites','category_id':2},
        {'nom': 'Pizza Margherita','price':70.00,'description':'Pizza tomate & mozzarella','category_id':2},
        {'nom': 'Tiramisu','price':35.00,'description':'Dessert italien','category_id':3},
        {'nom': 'Glace 2 boules','price':35.00,'description':'Glace au choix','category_id':3},
        {'nom': 'Coca-Cola','price':15.00,'description':'Boisson gazeuse','category_id':4},
        {'nom': 'Eau minérale','price':10.00,'description':'Eau plate ou gazeuse','category_id':4},
        {'nom': 'Curry de légumes','price':65.00,'description':'Plat végétarien épicé','category_id':5},
        {'nom': 'Falafel wrap','price':50.00,'description':'Wrap avec falafels et légumes','category_id':5}
]
with engine.begin() as connection:
    insert_query = plats_table.insert().values(row_to_insert)
    connection.execute(insert_query)

In [32]:
row_to_insert = [
    {'nom': 'Amine Lahmidi', 'email': 'amine@example.com', 'telephone': '+212600123456'},
    {'nom': 'Sara Benali', 'email': 'sara.b@example.com', 'telephone': '+212600654321'},
    {'nom': 'Youssef El Khalfi', 'email': 'youssef.k@example.com','telephone': ''},
    {'nom': 'Fatima Zahra', 'email': 'fatima.z@example.com', 'telephone': '+212600987654'},
    {'nom': 'Omar Alaoui', 'email': 'omar.a@example.com', 'telephone': '+212600112233'}

]
with engine.begin() as connection:
    insert_query = clients_table.insert().values(row_to_insert)
    connection.execute(insert_query)

In [34]:

row_to_insert = [
    {'client_id': 1, 'date_command': '2025-07-07 12:30:00', 'total': '120.00'},
    {'client_id': 2, 'date_command': '2025-07-07 13:00:00', 'total': '85.00'},
    {'client_id': 1, 'date_command': '2025-07-08 19:45:00', 'total': '150.00'},
    {'client_id': 3, 'date_command': '2025-08-15 18:30:00', 'total': '200.00'},
    {'client_id': 4, 'date_command': '2025-09-01 20:00:00', 'total': '95.00'},
    {'client_id': 5, 'date_command': '2025-09-10 12:15:00', 'total': '75.00'},

]
with engine.begin() as connection:
    insert_query = commands_table.insert().values(row_to_insert)
    connection.execute(insert_query)

In [35]:

row_to_insert = [
    {'command_id': 1, 'plat_id': 1, 'quantity': 1},
    {'command_id': 1, 'plat_id': 3, 'quantity': 1},
    {'command_id': 2, 'plat_id': 7, 'quantity': 2},
    {'command_id': 2, 'plat_id': 2, 'quantity': 1},
    {'command_id': 2, 'plat_id': 4, 'quantity': 1},
    {'command_id': 3, 'plat_id': 8, 'quantity': 1},
    {'command_id': 3, 'plat_id': 3, 'quantity': 1},
    {'command_id': 3, 'plat_id': 7, 'quantity': 1},
    {'command_id': 4, 'plat_id': 4, 'quantity': 2},
    {'command_id': 4, 'plat_id': 9, 'quantity': 1},
    {'command_id': 5, 'plat_id': 10, 'quantity': 1},
    {'command_id': 5, 'plat_id': 8, 'quantity': 2},
    {'command_id': 4, 'plat_id': 7, 'quantity': 3},
    {'command_id': 4, 'plat_id': 6, 'quantity': 1},


]
with engine.begin() as connection:
    insert_query = command_plats_table.insert().values(row_to_insert)
    connection.execute(insert_query)

In [36]:

row_to_insert = [
    {'nom': 'AgriFresh', 'contact': 'contact@agrifresh.com'},
    {'nom': 'MeatSupplier', 'contact': 'info@meatsupplier.com'},
    {'nom': 'BevCo', 'contact': 'sales@bevco.com'},
    {'nom': 'DairyFarm', 'contact': 'dairy@farm.com'},

]
with engine.begin() as connection:
    insert_query = fournisseurs_table.insert().values(row_to_insert)
    connection.execute(insert_query)

In [37]:
row_to_insert = [
    {'nom': 'Poulet', 'cout_unitaire': 15.00,'stock':50,'fournisseur_id':2},
    {'nom': 'Laitue', 'cout_unitaire': 5.00,'stock':20,'fournisseur_id':1},
    {'nom': 'Tomate', 'cout_unitaire': 3.00,'stock':30,'fournisseur_id':1},
    {'nom': 'Mozzarella', 'cout_unitaire': 10.00,'stock':15,'fournisseur_id':4},
    {'nom': 'Pomme de terre', 'cout_unitaire': 2.00,'stock':100,'fournisseur_id':1},
    {'nom': 'Café', 'cout_unitaire': 20.00,'stock':5,'fournisseur_id':3},
    {'nom': 'Sucre', 'cout_unitaire': 1.50,'stock':25,'fournisseur_id':3},
    {'nom': 'Pois chiches', 'cout_unitaire': 4.00,'stock':40,'fournisseur_id':1},
]
with engine.begin() as connection:
    insert_query = ingredients_table.insert().values(row_to_insert)
    connection.execute(insert_query)

In [38]:

row_to_insert = [
    {'plat_id': 1, 'ingredient_id': 1,'quantite_necessaire':0.2},
    {'plat_id': 1, 'ingredient_id': 2,'quantite_necessaire':0.1},
    {'plat_id': 2, 'ingredient_id': 2,'quantite_necessaire':0.05},
    {'plat_id': 2, 'ingredient_id': 5,'quantite_necessaire':0.1},
    {'plat_id': 3, 'ingredient_id': 1,'quantite_necessaire':0.3},
    {'plat_id': 3, 'ingredient_id': 5,'quantite_necessaire':0.2},
    {'plat_id': 4, 'ingredient_id': 3,'quantite_necessaire':0.1},
    {'plat_id': 4, 'ingredient_id': 4,'quantite_necessaire':0.15},
    {'plat_id': 5, 'ingredient_id': 6,'quantite_necessaire':0.05},
    {'plat_id': 5, 'ingredient_id': 7,'quantite_necessaire':0.02},
    {'plat_id': 9, 'ingredient_id': 8,'quantite_necessaire':0.1},
    {'plat_id': 10, 'ingredient_id': 8,'quantite_necessaire':0.15},

]
with engine.begin() as connection:
    insert_query = plat_ingredients_table.insert().values(row_to_insert)
    connection.execute(insert_query)